@import "abstracts/abstracts";
@import "components/components";
@import "layout/layouts";
@import "pages/pages";

body {
	font-family: var(--font-family);
	font-size: 1rem !important;
	color: var(--text-color);
	background: var(--grey-light);
}

.clickable {
	cursor: pointer;
}

.row-reverse {
	display: flex;
	flex-direction: row-reverse;
}

.label-required::after {
	color: var(--red);
	content: '*';
}

input.ng-dirty.ng-invalid {
	border-color: var(--red-1-light);
}

.field-message {
	display: inline-block;
	color: var(--red-1-light);
	font-size: 90%;
	transition: 1s linear all;
}

.btn-icon[itech-toggle-menu] {
	background-color: var(--grey-dark);
	color: var(--white);

	&:hover, &:active {
		background-color: var(--green-itech-light);
		color: var(--white);
	}
}

.text-left {
	text-align: left !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-family);
	//width: 100%;
	margin-top: 0;
}

:root {
	font-size: 100%;

	body {
		margin: 0;
		font-size: 1rem;
	}
}

.h-0 {
	height: 0 !important;
}

.itech-tooltip {
	word-wrap: break-word;
	pointer-events: none;
}
