@import 'media';
@import 'mixins';
// @import 'variables';
@import 'flex-box';
@import 'font';

.no-select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
