// ---------------------COLOR------------------------
$green-itech-1-dark: #ea00ff;
$green-itech-dark: #ea00ff;
$green-itech-dark-half-opacity: #ea00ff;
$green-itech-light: #ea00ff;
$green-itech-lighter: #ea00ff;
$green-itech-light-half-opacity: #ea00ff;
// $green-itech-normal:;
// $green-itech-dark:;
$white-half-opacity: #ea00ff;
$black-half-opacity: #ea00ff;
$black: black;
$grey-1-light: #ea00ff;
$grey-normal: #ea00ff;
$grey-normal-opacity: #ea00ff;
$grey-normal-opacity-hover: #ea00ff;
$red: red;
$red-1-light: #ea00ff;

$input-background: #ea00ff;

// --------------------- NEW COLOR RE-DESIGN------------------------
$form-background-color: rgba(33, 101, 156, 0.1);
$form-background-color-focus: rgba(33, 90, 156, 0.2);
$default-text: #ffffff;
$text-color: #2E3E47;
$text-color-lighter: #7c7c7c;
$grey-dark: #333333;
$grey-background: #E5E5E5; //Main background - Background Dropdown
$modal-itech-background:  #F7F9FC;

$main-color-opacity: rgba(219, 219, 219, 0.1);
$main-color: #dbdbdb;
$main-color-hover: #b7b7b6;
// $main-color: #2E3E47;
// $main-color-hover: #495057;
$main-color-lighter: #f5f5f5;
$main-color-lighter-1: #f5f5f5;
$main-color-dark: #4c4c4c;
$green-text-selection: #b7b7b6;
$green-input-form-selection: rgba(197, 202, 202, 0.1);
$cyan: #455F6D;
$cyan-lighter: #6a7e8a;
$grey-light: #F7F7F7;
$grey-1: #CCCCCC;
$grey-2: #E0E0E0;
$black-opacity: rgba(0,0,0, 0.1);
$orange: #F79D49;
$orange-light-1: #f8b06d;

$white: #fff;

$info-title: #748189;
//$primary: #209e91 !default;
$info: #2dacd1 !default;
$success: #90b900 !default;
$warning: #dfb81c !default;
$danger: #e85656 !default;

$facebook-color: #3b5998;
$twitter-color: #55acee;
$google-color: #dd4b39;
$linkedin-color: #0177B5;
$github-color: #6b6b6b;
$stackoverflow-color: #2F96E8;
$dribble-color: #F26798;
$behace-color: #0093FA;

$sidebar: $main-color;
$sidebar-heading: $main-color-dark;
$sidebar-text: $default-text;
$sidebar-text-selected: $default-text;
$sidebar-item-height: 32px;
$sidebar-width: 240px;
$sidebar-width-collapse: 30px;
$sidebar-item-pad-left: 8px;

$warning-border: rgba(219, 11, 11, 0.2);
$warning-background: rgba(219, 11, 11, 0.05);
$warning-head: rgba(219, 11, 11, 1);

$top-height: 50px;
//$top-height: 42px;
$tab-height: 42px;
$footer-height: 34px;
$delete-box-height: 80px;


$transitionTime: 0.0s;

//pagination
$paginationBtnWidth: 32px;
$paginationBtnHeight: 32px;

$fontSize875: 14px;

// ---------------------SHADOW------------------------

$shadow:  0 1px 5px 0 rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12);

@mixin shadow-1 {
  -webkit-box-shadow: 10px 10px 15px -20px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 10px 10px 15px -20px rgba(0, 0, 0, 0.6);
  box-shadow: 10px 10px 15px -20px rgba(0, 0, 0, 0.6);
}

@mixin shadow-2 {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}


// ---------------------DIRECTORY PATH----------------
$font-family: 'Roboto', sans-serif;
$font-thin: 100;
$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-ultraBold: 900;
