@import "../abstracts/variables";


/*============================================
            BUTTON ON NAVBAR
============================================*/

.simple-btn-keyboard-nav {
	@include phones {

		a,
		div[uib-dropdown] {
			padding: 10px 15px !important;
		}
	}

	@include tablets {

		a,
		div[uib-dropdown] {
			padding: 22px 15px !important;
		}
	}

	@include mediumDesktops {

		a,
		div[uib-dropdown] {
			padding: 22px 15px !important;
		}
	}

	@include largeDesktops {

		a,
		div[uib-dropdown] {
			padding: 22px 15px !important;
		}
	}
}

/*============================================
            BUTTON RE-DESIGN
============================================*/
.btn-shadow {
	box-shadow: $shadow;
}

.btn-itech {
	//height: 40px;
	border-radius: 20px !important;
	//line-height: 25px;
	//text-transform: uppercase;
	font-weight: 500;
	box-shadow: $shadow;
	//padding: 0.375rem 0.75rem;
	white-space: nowrap;

	&:focus {
		box-shadow: none;
	}

	&[disabled] {
		pointer-events: none;
	}

	&-fixed {
		min-width: 129px;
	}
	
	&-sm {
		min-width: 75px !important;
		//height: 31px;
		margin: 0;
		border-radius: 99px;
		//font-weight: 300;
	}
	
	&-icon {
		//min-width: 75px !important;
		//height: 31px;
		height: 32px;
		width: 32px;
		padding: unset !important;
		margin: 0 auto;
		border-radius: 99px !important;
		display: flex;
	
		svg, i {
			margin: auto;
		}
		//font-weight: 300;
	}
	
	&-icon-primary {
		box-shadow: none;
		color: $cyan !important;
		background: transparent !important;
	
		i::before {
			color: $cyan;
		}
	
		&:hover, &:active, &.active {
			background: $cyan !important;
			color: $white !important;
	
			i::before {
				color: $white;
			}
		}
	}
	
	&-icon-warning {
		box-shadow: none;
		color: $orange !important;
		background: transparent !important;
	
		&:hover, &:active, &.active {
			background: $orange !important;
			color: $white !important;
		}
	}
	
	&-icon-secondary {
		box-shadow: none;
		color: $grey-1;
	
		&:hover, &:active, &.active {
			background: $grey-1 !important;
		}
	}
	
	&-primary {
		background: $green-itech-dark !important;
		color: $white !important;
	
		i::before {
			color: white;
		}
	
		&:hover {
	
			background-color: $green-itech-light;
		}
	}

	&-secondary {
		background: $grey-1;
		color: $grey-normal !important;
	
		i::before {
			color: $grey-normal;
		}
	
		&:hover {
			background-color: $grey-2;
		}
	}

	&-dark {
		background: $text-color;
		color: $white !important;
	
		&:hover {
			background-color: $text-color-lighter;
		}
	}

	&-light {
		background: $grey-normal-opacity;
		color: $cyan;
	
		&:hover {
			background: $grey-normal-opacity-hover;
			color: $cyan;
		}
	
		&:active {
			background: $grey-normal-opacity;
		}
	}

	&-danger {
		background: $orange;
		color: $white !important;
	
		&:hover {
			color: $white;
			background-color: $orange-light-1;
		}
	
		&:active {
			background: $grey-1;
		}
	}

	&-dropdown {
		background: $white;
		border: 1px solid #ced4da;
		white-space: nowrap;
	
		&:hover {
			border-color: $green-itech-light;
		}
	
		&:focus {
			border-color: $green-itech-dark;
			background-color: $form-background-color-focus !important;
		}
	}
}

.btn-sm {
	line-height: 1.2;
}

.btn-pick-date {
	height: 26px;
	background: $grey-1;
	color: $grey-dark !important;


	&.active {
		background-color: $text-color;
		color: white !important;
		z-index: 0 !important;
	}
}

.group-btn-pick-date {
	display: flex;

	& > button {
		margin-left: .15rem;
		margin-right: .15rem;
		flex-grow: 1;

		&:first-child {
			margin-left: 0 !important;
		}

		&:last-child {
			margin-right: 0 !important;
		}
	}
}

.btn:disabled {
	pointer-events: none;
}

.btn-link {
	color: #0056b3;
}

.btn-redirect-create-resource{
    width: 112px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}