@import '../abstracts/variables';
/*============================================
            BUTTON ON NAVBAR
============================================*/

.simple-btn-keyboard-nav {
	@include phones {

		a,
		div[uib-dropdown] {
			padding: 10px 15px !important;
		}
	}

	@include tablets {

		a,
		div[uib-dropdown] {
			padding: 22px 15px !important;
		}
	}

	@include mediumDesktops {

		a,
		div[uib-dropdown] {
			padding: 22px 15px !important;
		}
	}

	@include largeDesktops {

		a,
		div[uib-dropdown] {
			padding: 22px 15px !important;
		}
	}
}

/*============================================
            BUTTON RE-DESIGN
============================================*/
.btn-shadow {
	box-shadow: var(--shadow);
}

.btn-itech {
	//height: 40px;
	border-radius: 20px !important;
	//line-height: 25px;
	//text-transform: uppercase;
	font-weight: 500;
	box-shadow: var(--shadow);
	//padding: 0.375rem 0.75rem;
	white-space: nowrap;

	&:focus {
		box-shadow: none;
	}

	&[disabled] {
		pointer-events: none;
	}
}

.btn-itech-fixed {
	min-width: 129px;
}

.btn-itech-sm {
	min-width: 75px !important;
	//height: 31px;
	margin: 0;
	border-radius: 99px;
	//font-weight: 300;
}

.btn-itech-icon {
	//min-width: 75px !important;
	//height: 31px;
	height: 32px;
	width: 32px;
	padding: unset !important;
	margin: 0;
	border-radius: 99px !important;
	//font-weight: 300;
}

.btn-itech-icon-primary {
	box-shadow: none;
	color: var(--cyan) !important;
	background: transparent !important;

	i::before {
		color: var(--cyan);
	}

	&:hover, &:active, &.active {
		background: var(--cyan) !important;
		color: var(--white) !important;

		i::before {
			color: var(--white);
		}
	}
}

.btn-itech-icon-warning {
	box-shadow: none;
	color: var(--orange) !important;
	background: transparent !important;

	&:hover, &:active, &.active {
		background: var(--orange) !important;
		color: var(--white) !important;
	}
}

.btn-itech-icon-secondary {
	box-shadow: none;
	color: var(--grey-1);

	&:hover, &:active, &.active {
		background: var(--grey-1) !important;
	}
}

.btn-itech-primary {
	background: var(--green-itech-dark) !important;
	color: var(--white) !important;

	i::before {
		color: white;
	}

	&:hover {

		background-color: var(--green-itech-light);
	}
}

.btn-itech-secondary {
	background: var(--grey-1);
	color: var(--grey-normal) !important;

	i::before {
		color: var(--grey-normal);
	}

	&:hover {
		background-color: var(--grey-2);
	}
}

.btn-itech-dark {
	background: var(--cyan);
	color: var(--white) !important;

	&:hover {
		background-color: var(--cyan-lighter);
	}
}

.btn-itech-light {
	background: var(--grey-normal-opacity);
	color: var(--cyan);

	&:hover {
		background: var(--grey-normal-opacity-hover);
		color: var(--cyan);
	}

	&:active {
		background: var(--grey-normal-opacity);
	}
}

.btn-itech-danger {
	background: var(--orange);
	color: var(--white) !important;

	&:hover {
		color: var(--white);
		background-color: var(--orange-light-1);
	}

	&:active {
		background: var(--grey-1);
	}
}

.btn-itech-dropdown {
	background: var(--white);
	border: 1px solid #ced4da;
	white-space: nowrap;

	&:hover {
		border-color: var(--green-itech-light);
	}

	&:focus {
		border-color: var(--green-itech-dark);
		background-color: var(--form-background-color-focus) !important;
	}
}

.btn-sm {
	line-height: 1.2;
}

.btn-pick-date {
	height: 26px;
	background: var(--grey-1);
	color: var(--grey-dark) !important;


	&.active {
		background-color: var(--text-color);
		color: white !important;
		z-index: 0 !important;
	}
}

.group-btn-pick-date {
	display: flex;

	& > button {
		margin-left: .15rem;
		margin-right: .15rem;
		flex-grow: 1;

		&:first-child {
			margin-left: 0 !important;
		}

		&:last-child {
			margin-right: 0 !important;
		}
	}
}

.btn:disabled {
	pointer-events: none;
}

.btn-link {
	color: #0056b3;
}
