@import '../abstracts/variables';

.btn-dropdown {
    background: $grey-background !important;
    color: $text-color;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(69, 95, 109, 0.5);

    &:hover,
    &:focus,
    &:active {
        background-color: $grey-normal !important;
    }

    &.dropdown-toggle {
        background: $white;
    }
}