@import '../abstracts/variables';

.btn-dropdown {
    background: var(--form-background-color) !important;
    color: var(--form-background-color-contrast);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(69, 95, 109, 0.5);

    &:hover,
    &:focus,
    &:active {
        background-color: var(--grey-normal) !important;
    }

    &.dropdown-toggle {
        background: var(--white);
    }
}

.dropdown-itech a {
    &:hover, &:active, &:active {
        background-color: var(--main-color-dark);
        color: var(--default-text);
        button, div {
            color: var(--default-text);
        }
    }
}