@import '../abstracts/variables';

.label-filter {
	font-size: var(--fontSize875);
	font-weight: bold;
	padding-bottom: 0.25rem;
	color: var(--text-color);
}

.label-filter-sm {
	font-size: var(--fontSize875);
	font-weight: bold;
	padding-top: 0;
	padding-bottom: 0;
	color: var(--text-color);
}

.label-color {
	color: var(--text-color);
}

.label-info {
	font-size: 1.125rem !important;
	color: var(--info-title);
	overflow-wrap: break-word;
}

.info-title-label {
	font-size: .8rem;
	text-transform: uppercase;
	color: var(--info-title);
}
