.logo {
  content: url("/images/logo-medium.png");
  @include phones {
    content: url("/images/logo-small.png") !important;
  }
  @include tablets {
    content: url("/images/logo-small.png") !important;
  }
}
