@import "../abstracts/variables";

.msg-box {

	& .msg-body {
		border-radius: 0.5rem;
		border: solid 1px;
		padding: 1.2rem;
		text-align: justify;
		min-height: 150px;
		color: var(--text-color);
	}

	&-warning {
		& .msg-head {
			color: var(--warning-head);
		}

		& .msg-body {
			border-color: var(--warning-border);
			background-color: var(--warning-background);
			color: var(--text-color);
		}
	}

	&-info {
		& .msg-head {
			color: var(--text-color);
		}

		& .msg-body {
			border-color: var(--main-color-dark);
			background-color: var(--form-background-color-focus);
			color: var(--text-color);
		}
	}
}



