@import '../abstracts/variables';

.panel-itech {
	background-color: $white;
	//overflow: hidden;
	padding: 0.25rem 0.5rem;
	@include shadow-1;
	//margin: 15px 0;
	flex: 1;

	.form-control {
		background: rgba(33, 156, 119, 0.1);

		&:disabled, &[readonly] {
			background: #e9ecef;
		}
	}
}
