@import '../abstracts/variables';

.panel-itech {
	background-color: var(--sidebar-background);
	//overflow: hidden;
	padding: 0.25rem 0.5rem;
	@include shadow-1;
	//margin: 15px 0;
	flex: 1;

	.form-control {
		background: var(--form-background-color-focus);

		&:disabled, &[readonly] {
			background: var(--form-background-color);
		}
	}
}
