@import '../abstracts/variables';

.table {
	@include shadow-1;

	thead.table-itech-thread {
		tr {
			background: var(--main-color-dark) !important;
			color: var(--white);
			text-transform: uppercase;

			th {
				font-weight: 300 !important;
				text-align: center;
			}
		}

		th,
		td,
		span {
			background-color: transparent !important;
			color: var(--white) !important;
			font-weight: 500 !important;
			font-size: .75rem;
		}
	}
}

.table-striped {
	tbody {
		tr {
			&:nth-of-type(odd) {
				background: var(--white);

				&:hover {
					&:not(.active) {
						background: var(--white) !important;
					}

					box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15) !important;
				}
			}

			&:nth-of-type(even) {
				&:not(.active) {
					background: #EBF1EE !important;
				}

				&:hover {
					&:not(.active) {
						background: #EBF1EE !important;
					}

					box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15) !important;
				}
			}

			/*&:hover {
				background: $main-color-lighter-1;
				color: var(--white);
				box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
			}*/

			td {
				//text-align: center;
			}

			td:has(button.btn-itech-icon) {
				padding: 0 !important;
				background: black !important;
			}

			td:has(div) {
				& > div {
					background: #0ba14a;
				}
			}
		}

		// &:hover {
		//     background: $main-color-lighter-1;
		//     color: var(--white);
		// }
	}
}

.hide-bulk-actions {
	[data-test="bulk-actions-toolbar"] {
		display: none;
	}
}
