.ToolbarModule {
    display: flex;
}

.toolbar-wrapper {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    ul {
        padding: 0;
        list-style-type: none;
    }

    .dropdown .dropdown-menu {
        background-color: var(--toolbar-icon-hover);
    }
}

.toolbar {
    display: inline-flex;
    height: 100%;
}

.toolbar-item {
    position: static;
    //flex-shrink: 0;
    //float: left;
    height: calc(var(--toolbar-height) - var(--ui-border-thickness));
    //font-size: 1rem;

    &:hover {
        //background-color: var(--toolbar-background-hover-color);
    }
}

.toolbar-expandable {
    position: absolute;
    z-index: 1001;
    top: calc(var(--toolbar-height) - var(--ui-border-thickness));
    //display: flex;
    //flex-direction: column;
    background-color: var(--toolbar-icon-hover);
    padding: 0 !important;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    //text-align: left;
    list-style: none;
    background-clip: padding-box;
    //border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: .25rem;
    min-width: 10rem;
    opacity: 0;
    pointer-events: none;

    > div {
        pointer-events: none;
    }

    &.expanded {
        opacity: 1;
        pointer-events: auto;

        > div {
            pointer-events: auto;
        }
    }

    //float: left;

    :first-child {
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
    }

    :last-child {
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem;
    }

    .dropdown-item-itech {
        padding: .25rem .75rem;
        margin: 0;
        color: var(--text-primary-color) !important;
        font-size: 16px !important;
        cursor: pointer;
    }
}

.toolbar-button {
    height: 100%;
    color: var(--default-color);
    float: left;
    text-align: center;
    margin: 0 3px;
    padding: 0;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;

    > div {
        padding: 0 2px;

        > .toolbar-button-label {
            font-size: 12px;
            font-weight: 500;
            padding: 0 4px;
            margin-bottom: 0;
            //height: 40%;
            color: var(--text-primary-color);
            white-space: nowrap;
            user-select: none;
        }
    }

    .expand-caret {
        //width: 8px;
        //height: 8px;
        //transform: translate(2px, 2px);
        height: 100%;
        display: flex;
        flex-direction: column;
        border: 1px solid transparent;

        &:hover {
            background-color: var(--ui-border-color);
        }

        svg {
            margin-top: auto;
            margin-bottom: .25rem;
        }
    }

    /*svg {
        height: 21px;
        width: 21px;
        margin: 2px;
    }*/

    &:hover, &:active, &.active {
        &, & > div > .toolbar-button-icon, & > div > .toolbar-button-label {
            color: var(--hover-color);
            fill: var(--hover-color);
            stroke: var(--hover-color);
            background-color: var(--toolbar-background-hover-color);
        }
    }
}

.toolbar-button-icon {
    color: var(--text-primary-color);
    text-align: center;
    font-size: 1.5em;
    display: block;
    fill: var(--text-primary-color);
    stroke: var(--text-primary-color);
    margin: auto .25rem;

    .toolbar-button & {
        div, i {
            line-height: 1.5;
        }
    }

    .dropdown-item-itech > & {
        div, i {
            line-height: 1
        }

        font-size: 1rem;
    }

    :before {
        color: inherit;
    }
}

.button-label {
    padding: 0 4px;
    height: 40%;
    color: var(--text-primary-color);
    white-space: nowrap;
    font-size: 12px;
    user-select: none;
}

.dropdown-item-itech {
    color: var(--text-primary-color);
    font-size: 16px !important;
    cursor: pointer;

    .toolbar-button-icon {
        width: 24px;
    }

    > div {
        display: flex;
        width: 100%;

        .toolbar-button-icon, .toolbar-button-label {
            font-size: 1rem;
        }

        .toolbar-button-label {
            text-align: left;
            flex-grow: 1;
        }
    }

    &:hover, &.active {
        background-color: var(--light);
        color: var(--text-primary-color);
    }

    &:hover, &.active {
        .toolbar-button-icon, .toolbar-button-label, p, [class^="icon-"]:before, [class*=" icon-"]:before {
            color: var(--toolbar-icon-hover);
        }
    }


    /*.toolbar-button-label, &:hover p, &.active p, &:hover [class^="icon-"]:before, &.active [class^="icon-"]:before, &:hover [class*=" icon-"]:before, &.active [class*=" icon-"]:before {
        color: var(--toolbar-icon-hover);
    }*/
}

.ToolbarRow {
    border-bottom: var(--ui-border-thickness) solid var(--ui-border-color);
    background-color: var(--primary-background-color);
    flex: 0 0 auto;
    height: var(--toolbar-height);
    padding-left: .5rem;
    padding-right: .5rem;
    //position: relative;
    transition: height 300ms ease;
    width: 100%;
    display: flex;
    align-items: center;

    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar-track {
        //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #F5F5F5;
        border-radius: 3px;
    }

    &::-webkit-scrollbar {
        width: 3px;
        height: 3px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: #FFF;
        background-image: -webkit-gradient(linear,
                40% 0%,
                75% 84%,
                from(#716f76),
                to(#716f76))
    }
}

.ToggleButton {
    --height: 25px;
    position: relative;
    z-index: 0;
    margin: 0 5px;

    .ToggleButtonWrapper {
        .ToggleButton {
            align-items: center;
            background-color: black;
            border: 2px solid var(--default-color);
            color: var(--default-color);
            display: flex;
            font-size: 11px;
            font-weight: 500;
            justify-content: center;
            height: var(--height);
            line-height: var(--height);
            padding: 0 22px;
            position: relative;
            text-transform: uppercase;
            transition: var(--sidebar-transition);
            z-index: 1;
        }

        &:first-child .ToggleButton {
            border-bottom-left-radius: var(--height);
            border-top-left-radius: var(--height);
        }

        &:last-child .ToggleButton {
            border-bottom-right-radius: var(--height);
            border-top-right-radius: var(--height);
        }
    }
}

.ToggleButtonWrapper {
    cursor: pointer;
    display: inline-block;
    float: left;
    margin-left: -2px;
    text-decoration: none;
    text-align: center;

    .ToggleButton {
        svg {
            fill: var(--default-color);
            stroke: var(--default-color);
            transition: var(--sidebar-transition);

            .ToggleButtonWrapper .ToggleButton span {
                margin: 0 2px;
            }
        }

        i {
            line-height: 15px;
            font-size: 15px;
        }
    }

    &:first-child {
        margin-left: 0;
    }

    &:hover .ToggleButton, &.active .ToggleButton {
        background-color: black;
        color: var(--active-color);
        border-color: var(--active-color);
    }

    &:hover .ToggleButton svg, &.active .ToggleButton svg {
        fill: var(--active-color);
        stroke: var(--active-color);
    }

    &:hover .BottomLabel, &.active .BottomLabel {
        color: var(--active-color);
    }

    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.BottomLabel {
    color: var(--default-color);
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    margin-top: 8px;
    transition: var(--sidebar-transition);
    user-select: none;
}

.layoutChooser {
    background-color: black;
    border: 1px solid rgba(77, 99, 110, 0.81);
    border-radius: 8px;
    padding: 5px 0;
    position: absolute;
    z-index: 5000;
    top: calc(var(--toolbar-height) - var(--ui-border-thickness));

    .selectedBefore {
        background-color: var(--active-color);
    }

    table {
        margin: 0 auto;

        td {
            cursor: pointer;
            background-color: var(--text-primary-color);
            border: 1px var(--toolbar-icon-hover) solid;

            &:hover, &.hover {
                background-color: var(--active-color);
            }
        }
    }
}
