/* Sizes */
/* Fonts */
/* Logo font should be SVG so we don't need to load an entire font */
/* Transitions */
/* Thicknesses */
/* "Tide" theme */
/* TODO:
 - Convert the other themes to CSS Variables
 - Allow user to set default CSS theme in JS config
 - Export the themes as identical JS objects
 - For theme switcher, update root-level CSS properties via JS (https://medium.com/@_bengarrison/accessing-and-modifying-css-variables-with-javascript-2ccb735bbff0)
 */
/*    &:hover
 //theme('border', '%s solid $uiBorderColor' % $viewportBorderThickness)
 &.active, &:hover.active
 //theme('border', '%s solid $uiBorderColorActive' % $viewportBorderThickness)
 */
/*THUMBNAIL*/

.ViewerMain {
    width: 100%;
    height: 100%;
    transition: var(--sidebar-transition);
    position: relative;

    // > div {
    // width: 100%;
    // height: 100%;
    // }

    #imageViewerViewports .viewportContainer {
        outline: 0;

        &:hover, &:active, &:hover.active {
            outline: 0;
        }
    }
}

.ToolContextMenu {
    position: absolute;
    background-color: var(--toolbar-icon-hover);
    // border: 1px solid white;
    border-radius: 5px;
    z-index: 1000;
    display: block;
    // width: 170px;
    padding-top: 5px;
    padding-bottom: 5px;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        border-radius: 5px;
        border: 0px transparent solid;
        li {
            color: var(--text-primary-color);
            position: relative;
            line-height: 24px;
            &> button {
                font-size: var(--font-primary-size);
                border: none;
                border-radius: 0px;
                color: var(--text-primary-color);
                box-shadow: none !important;
                cursor: pointer;
                background: none;
                width: 100%;
                text-align: left;
                white-space: nowrap;

                &:hover, &:active, &.active {
                    background-color: var(--light);
                    color: var(--toolbar-icon-hover);
                }
            }
            &.active{
                &>div{
                    background-color: var(--light);
                    color: var(--toolbar-icon-hover);
                }
            }
            &>ul {
                display: none;
                position: absolute;
                left: 100%;
                top: -7px;
                z-index: 1001;
                background-color: var(--toolbar-icon-hover);
                border-radius: 5px;
                padding-top: 5px;
                padding-bottom: 5px;
            }
            &:hover{
                &>div{
                    background-color: var(--light);
                    color: var(--toolbar-icon-hover);
                }
                >ul{
                    display: block;
                }
            }
        }
    }
}

.FlexboxLayout {
    display: flex;
    //flex: 1;
    flex-flow: row nowrap;
    align-items: stretch;
    height: calc(100% - var(--toolbar-height));
    width: 100%;
    overflow: hidden;
}

.sidepanel {
    //flex: 1;
    height: 100%;
    transition: var(--sidepanel-transition);

    &.is-open {
        margin-right: 0;
        margin-left: 0;
    }
}

.from-left {
    border-right: var(--ui-border-thickness) solid var(--ui-border-color);
    margin-left: calc(var(--left-sidepanel-menu-width) * -1);
    max-width: var(--left-sidepanel-menu-width);
}

.from-right {
    border-left: var(--ui-border-thickness) solid var(--ui-border-color);
    //margin-right: calc(var(--right-sidepanel-menu-width) * -1);
    //max-width: var(--right-sidepanel-menu-width);

    &.is-open {
        > div {
            margin-right: 0;
        }

    }
}

.measurementTable {
    width: var(--right-sidepanel-menu-width);
    margin-right: calc(var(--right-sidepanel-menu-width) * -1);
}

@media (max-width: 768px) {
    .FlexboxLayout {
        flex-direction: column;
        flex-wrap: nowrap;
        position: relative;

        .report-builder-wrapper {
            position: unset;
            z-index: 4;
            top: 0;
            left: 100%;
            flex-grow: unset;
            width: 100vw;
            flex: unset;

            &.open {
                left: 0;
            }
        }
    }

    .sidepanel {
        display: none;
        flex-grow: unset;

        &.from-left {
            margin-left: 0;
            max-width: 100%;
            width: 100%;
            height: auto;

            &.is-open {
                display: block;
            }

            > .StudyBrowser {
                float: none;
                padding-bottom: 0;

                height: 120px;

                .scrollable-study-thumbnails {
                    overflow-x: auto;
                    overflow-y: hidden;
                    position: relative;

                    &::-webkit-scrollbar {
                        display: block;
                    }

                    &::-webkit-scrollbar-track {
                        //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
                        background-color: #F5F5F5;
                        border-radius: 3px;
                    }

                    &::-webkit-scrollbar {
                        width: 3px;
                        height: 3px;
                        background-color: #F5F5F5;
                    }

                    &::-webkit-scrollbar-thumb {
                        border-radius: 3px;
                        background-color: #FFF;
                        background-image: -webkit-gradient(linear,
                                40% 0%,
                                75% 84%,
                                from(#716f76),
                                to(#716f76))
                    }

                }

                .series {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    width: auto;
                    flex-wrap: nowrap;

                    .ImageThumbnail {
                        height: auto;
                        min-width: 120px;
                    }
                }
            }
        }

        &.from-right {
            position: absolute;
            top: 0;
            z-index: 3;
            right: 100%;
            //width: 300px;
            background-color: var(--toolbar-background-hover-color);

            &.is-open {
                display: block;
                right: 0;
            }
        }

    }
}

/*.sidebar-menu {
	height: 100%;
	transform: scale(1);
	transition: var(--sidebar-transition);
}

.sidebar-left {
	border-right: var(--ui-border-thickness) solid var(--ui-border-color);
	flex: 1;
	margin-left: calc(var(--left-sidepanel-menu-width) * -1);
	max-width: var(--left-sidepanel-menu-width);
	order: 1;

	&.sidebar-open {
		margin-left: 0;
	}
}*/

.main-content {
    flex: 1;
    height: 100%;
    overflow: hidden;
    transition: var(--sidebar-transition);
    width: 100%;
}

/*.sidebar-right {
	flex: 1;
	margin-right: calc(var(--right-sidepanel-menu-width) * -1);
	max-width: var(--right-sidepanel-menu-width);
	order: 3;

	&.sidebar-open {
		margin-right: 0;
		overflow-x: hidden;
		overflow-y: scroll;
	}
}*/

.viewport-container {
    float: left;
    position: relative;
    border: var(--viewport-border-thickness) solid var(--ui-border-color);

    &.active {
        border: var(--viewport-border-thickness) solid var(--active-color);
    }
}

.EmptyViewport {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--text-primary-color);
}

.LayoutPanel {
    position: relative;
    width: 100%;
    height: 100%;
}

.viewport-drop-target {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 0.3s all ease;

    &.hovered {
        opacity: 0.5;
    }
}

.labellingComponent {
    position: absolute;
    text-align: center;
    z-index: 300;
    transition: all 200ms linear;

    .selectedLabel, .selectedDescription {
        padding: 5px;
        background-color: white;
        width: 150px;
    }

    .addLabelButton {
        color: #000;
        background-color: #20a5d6;
        border: 2px solid #44626f;
        border-radius: 14px;
        cursor: pointer;
        font-weight: bold;
        font-size: 13px;
        line-height: 24px;
        opacity: 1;
        padding: 0 14px;
        transition: opacity 0.3s ease;
        outline: none;
        cursor: pointer;
    }

    .commonButton {
        border: 1px solid #44626f;
        color: #fff;
        background-color: #000;
        border-radius: 16px;
        font-weight: bold;
        font-size: 13px;
        line-height: 26px;
        padding: 0 12px;
        margin: 10px 5px 0 0;
        outline: none;
        cursor: pointer;
    }

    .locationDescriptionWrapper {
        background-color: #fff;
        line-height: 46px;
        height: 46px;
        font-size: 13px;
        position: relative;
        width: 290px;
        min-width: 260px;
        padding: 0 12px;
        margin: 0 auto;
        display: inline-block;

        .location {
            transition: all 300ms linear;
            position: absolute;
            white-space: nowrap;
            bottom: 0;
        }

        #descriptionInput {
            transition-delay: all 300ms linear;
            visibility: hidden;
            outline: none;
            height: 46px;
            width: 100%;
            line-height: 20px;
            font-size: 13px;
            border: none;
        }
    }

    .commonButtons {
        display: block;
        margin-left: 55px;
        text-align: center;
        margin-left: 55px;
    }

    .editDescriptionButtons {
        display: none;
    }

    .commonButton {
        &.left {
            float: left;
        }

        &.right {
            float: right;
        }
    }

    .checkIconWrapper {
        display: inline-block;
        background-color: #337ab7;
        border-radius: 46px;
        width: 46px;
        height: 46px;
        margin-right: 10px;
        vertical-align: bottom;
        cursor: pointer;
    }

    .checkIcon {
        width: 20px;
        height: 20px;
        margin: 13px;
        fill: black;
    }

    &.editDescription {
        .locationDescriptionWrapper {
            .location {
                bottom: 38px;
            }

            #descriptionInput {
                visibility: visible;
            }
        }

        .location {
            color: #337ab7;
        }

        .editDescriptionButtons {
            display: block;
            margin-left: 55px;
        }

        .commonButtons {
            display: none;
        }
    }
}

.labelling-appear {
    opacity: 0;

    &.labelling-appear-active {
        opacity: 1;
        transition: opacity 500ms linear;
    }
}

.labelling-exit {
    opacity: 1;

    &.labelling-exit-active {
        opacity: 0;
        transition: opacity 500ms linear;
    }
}

.labelling-exit-done {
    opacity: 0;
}

.simpleDialog {
    position: fixed;
    border: 0;
    border-radius: 6px;
    background-color: #151a1f;

    .header {
        border-bottom-width: 3px;
        border-bottom-style: solid;
        border-bottom-color: #000;
        padding: 19px 22px 17px;
        position: relative;

        .title {
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
            padding-right: 40px;
            color: white;
            margin: 0;
        }

        .closeBtn {
            height: 20px;
            opacity: 1;
            overflow: hidden;
            padding: 2px;
            text-align: center;
            text-shadow: none;
            width: 20px;
            color: white;
            cursor: pointer;
            position: absolute;
            right: 21px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            transition: color 0.3s ease;
        }

        .closeIcon {
            color: transparent;
            display: block;
            font-size: 0;
            height: 100%;
            line-height: 0;
            overflow: hidden;
            position: relative;
            width: 100%;

            &:after {
                content: ' ';
                display: block;
                height: 2px;
                transition: background-color 0.3s ease;
                width: 19px;
                background-color: white;
                right: 1px;
                position: absolute;
                top: 1px;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                -webkit-transform-origin: calc(100% - 1px) 50%;
                transform-origin: calc(100% - 1px) 50%;
            }

            &:before {
                content: ' ';
                display: block;
                height: 2px;
                transition: background-color 0.3s ease;
                width: 19px;
                background-color: white;
                left: 1px;
                position: absolute;
                top: 1px;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                -webkit-transform-origin: 1px 50%;
                transform-origin: 1px 50%;
            }
        }
    }

    .content {
        padding: 16px 22px 25px;
        position: relative;
        color: #fff;

        .simpleDialogSelect, .simpleDialogInput {
            background-color: #fff;
            color: #000;
            border: 0;
            border-radius: 2px;
            font-size: var(--font-primary-size);
            height: 30px;
            width: 100%;
            line-height: 16px;
            padding: 8px 9px 6px;
            margin-top: 10px;
            display: block;
        }

        .simpleDialogInputLabel {
            font-size: var(--font-primary-size);
            font-weight: 700;
            line-height: 16px;
            color: #fff;
        }
    }

    .footer {
        padding: 15px;
        text-align: right;

        .btn {
            margin-left: 5px;
        }
    }
}

.tableList {
    background-color: var(--primary-background-color);
    height: 100%;
    width: 100%;

    .tableListHeader {
        background-color: var(--ui-gray-darker);
        color: var(--text-secondary-color);
        display: flex;
        height: 63px;
        line-height: 63px;
        margin-top: 2px;
        overflow: hidden;
        width: 100%;

        .tableListHeaderTitle {
            color: var(--text-secondary-color);
            font-size: 22px;
            font-weight: 300;
            line-height: 63px;
            padding: 0 10px;
            text-align: left;
            flex: 1;
        }

        .numberOfItems {
            color: var(--ui-sky-blue);
            float: right;
            font-weight: 300;
            font-size: 40px;
            max-width: 54px;
            height: 63px;
            line-height: 66px;
            flex: 1;
        }
    }
}

.tableListItem {
    display: flex;
    margin-left: -6px;
    margin-top: 2px;
    padding-left: 6px;
    opacity: 0.7;
    cursor: pointer;
    width: calc(100% + 6px);

    &:hover {
        opacity: 1;
    }

    .itemIndex {
        background-color: var(--ui-gray);
        color: var(--text-secondary-color);
        cursor: pointer;
        flex: 1;
        max-width: 40px;
        font-size: var(--font-primary-size);
        font-weight: 400;
        margin-right: 5px;
        padding: 10px;
        text-align: center;
    }

    .itemContent {
        flex: 1;
        color: var(--text-secondary-color);
        font-weight: 400;
        margin-left: -2px;
    }

    .warning-icon {
        display: none;
    }

    &.selected {
        opacity: 1;

        .itemIndex {
            color: var(--active-color);
        }
    }

    &.hasWarning .warning {
        display: block;
    }
}

.toolbarOverlay {
    border: 2px solid var(--ui-border-color-dark);
    padding: 5px;
}

.tooltip-toolbar-overlay {
    margin-top: 40px;
    background-color: var(--primary-background-color);
    border: 1px solid var(--default-color);
    border-radius: 8px;

    .tooltip-arrow {
        display: none;
    }

    .tooltip-inner {
        max-width: unset;
        background: none;
    }
}

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-break: auto;
    line-height: 1.42857;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    font-size: 12px;
    opacity: 0;

    &.in {
        opacity: 0.9;
    }

    &.top {
        margin-top: -3px;
        padding: 5px 0;

        .tooltip-arrow {
            bottom: 0;
            left: 50%;
            margin-left: -5px;
            border-width: 5px 5px 0;
            border-top-color: #000;
        }
    }

    &.right {
        margin-left: 3px;
        padding: 0 5px;

        .tooltip-arrow {
            top: 50%;
            left: 0;
            margin-top: -5px;
            border-width: 5px 5px 5px 0;
            border-right-color: #000;
        }
    }

    &.bottom {
        margin-top: 3px;
        padding: 5px 0;

        .tooltip-arrow {
            top: 0;
            left: 50%;
            margin-left: -5px;
            border-width: 0 5px 5px;
            border-bottom-color: #000;
        }
    }

    &.left {
        margin-left: -3px;
        padding: 0 5px;

        .tooltip-arrow {
            top: 50%;
            right: 0;
            margin-top: -5px;
            border-width: 5px 0 5px 5px;
            border-left-color: #000;
        }
    }

    &.top-left .tooltip-arrow {
        bottom: 0;
        right: 5px;
        margin-bottom: -5px;
        border-width: 5px 5px 0;
        border-top-color: #000;
    }

    &.top-right .tooltip-arrow {
        bottom: 0;
        left: 5px;
        margin-bottom: -5px;
        border-width: 5px 5px 0;
        border-top-color: #000;
    }

    &.bottom-left .tooltip-arrow {
        top: 0;
        right: 5px;
        margin-top: -5px;
        border-width: 0 5px 5px;
        border-bottom-color: #000;
    }

    &.bottom-right .tooltip-arrow {
        top: 0;
        left: 5px;
        margin-top: -5px;
        border-width: 0 5px 5px;
        border-bottom-color: #000;
    }
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 4px;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.studyListToolbar .addNewStudy {
    margin: 0 10px;
    color: var(--text-secondary-color);

    label {
        font-weight: 400;
        cursor: pointer;
    }

    input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    &:hover {
        color: var(--hover-color);
    }

    &:active {
        color: var(--active-color);
    }
}

.CineDialog {
    background: #c4c4c4;
    color: var(--toolbar-icon-hover);
    filter: drop-shadow(0 0 3px var(--ui-gray-darkest));
    border: none;
    border-radius: 8px;
    width: inherit;

    h5 {
        font-size: 20px;
        line-height: 35px;
        margin: 0;
        font-weight: 400;
    }

    label {
        font-weight: 400;
    }

    .cine-navigation {
        cursor: default;
    }

    .cine-controls {
        cursor: default;
        display: flex;
        justify-content: space-between;
    }

    .cine-options {
        display: flex;
        justify-content: space-between;
        cursor: auto;
    }

    .fps-section {
        cursor: auto;

        input[type=range] {
            -webkit-appearance: none;
            width: 100%;
            margin: 7px 0;

            &:focus {
                outline: none;

                &::-webkit-slider-runnable-track {
                    background: #4e4d4f;
                }

                &::-ms-fill-lower {
                    background: #414042;
                }

                &::-ms-fill-upper {
                    background: #4e4d4f;
                }
            }

            &::-webkit-slider-runnable-track {
                width: 100%;
                height: 6px;
                cursor: pointer;
                box-shadow: 0 0 0 #000, 0 0 0 #0d0d0d;
                background: #414042;
                border-radius: 2px;
                border: 0 solid #010101;
            }

            &::-webkit-slider-thumb {
                box-shadow: 0 0 0 #000, 0 0 0 #0d0d0d;
                border: 0 solid rgba(0, 0, 0, 0);
                height: 20px;
                width: 8px;
                border-radius: 5px;
                background: #716f76;
                cursor: pointer;
                -webkit-appearance: none;
                margin-top: -7px;
            }

            &::-moz-range-track {
                width: 100%;
                height: 6px;
                cursor: pointer;
                box-shadow: 0 0 0 #000, 0 0 0 #0d0d0d;
                background: #414042;
                border-radius: 2px;
                border: 0 solid #010101;
            }

            &::-moz-range-thumb {
                box-shadow: 0 0 0 #000, 0 0 0 #0d0d0d;
                border: 0 solid rgba(0, 0, 0, 0);
                height: 20px;
                width: 1px;
                border-radius: 5px;
                background: #716f76;
                cursor: pointer;
            }

            &::-ms-track {
                width: 100%;
                height: 6px;
                cursor: pointer;
                background: transparent;
                border-color: transparent;
                color: transparent;
            }

            &::-ms-fill-lower {
                background: #343335;
                border: 0 solid #010101;
                border-radius: 4px;
                box-shadow: 0 0 0 #000, 0 0 0 #0d0d0d;
            }

            &::-ms-fill-upper {
                background: #414042;
                border: 0 solid #010101;
                border-radius: 4px;
                box-shadow: 0 0 0 #000, 0 0 0 #0d0d0d;
            }

            &::-ms-thumb {
                box-shadow: 0 0 0 #000, 0 0 0 #0d0d0d;
                border: 0 solid rgba(0, 0, 0, 0);
                width: 1px;
                border-radius: 5px;
                background: #716f76;
                cursor: pointer;
                height: 6px;
            }
        }
    }

    .double-row-style {
        box-sizing: border-box;
        width: 290px;
        padding: 10px;
        top: 2%;
        right: 5%;

        .cine-navigation {
            position: absolute;
            right: 16px;
            top: 10px;

            .btn {
                padding: 0 4px;

                i {
                    font-size: 32px;
                    line-height: 32px;
                }
            }
        }

        .cine-controls {
            margin-bottom: 0.25rem;
        }

        .cine-options {
            padding-left: 14px;
            padding-right: 14px;

            .fps-section {
                width: 175px;
                float: left;
            }

            .fps {
                float: right;
            }
        }
    }

    .single-row-style {
        box-sizing: content-box;
        width: 425px;
        height: 45px;
        padding: 4px 8px;
        top: 2%;
        left: 35%;

        .cine-navigation {
            float: right;
            overflow: hidden;
            padding-right: 12px;
            position: relative;

            .btn {
                padding: 0 2px;
                margin: 0 0 0 2px;
                border: 0 none;

                &:first-of-type {
                    margin-left: 0;
                }

                i {
                    font-size: 32px;
                    line-height: 45px;
                }
            }
        }

        .cine-controls {
            position: relative;
            float: left;
            overflow: hidden;

            .btn {
                font-size: 22px;
                line-height: 45px;
                min-width: 28px;
                padding: 0 0;
                margin: 0 4px;
                border: 0 none;
            }
        }

        .cine-options {
            display: block;
            position: relative;
            width: 150px;
            float: left;
            overflow: hidden;
            padding: 0;
            margin: 0 0 0 10px;

            .fps-section {
                display: block;
                float: left;
                width: 80px;

                input[type="range"] {
                    line-height: 45px;
                    height: 45px;
                }
            }

            .fps {
                display: block;
                width: 68px;
                float: left;
                padding: 0;
                margin: 0 0 0 2px;
                text-align: center;
                line-height: 45px;
                font-size: var(--font-primary-size);
                line-height: 1.42857;
            }
        }
    }

    .btn {
        color: var(--toolbar-icon-hover);
        background-color: transparent;
        border: 0;
        border-radius: 4px;
        font-size: 15px;
        width: 45px;
        font-weight: normal;
        height: 37px;
        line-height: 37px;
        padding: 0 12px;

        &:hover, &:active {
            color: var(--text-color-active);
        }

        &.active {
            color: var(--text-color-active);
            box-shadow: inset 1px 1px 2px var(--ui-gray-darkest);
        }

        &[disabled] {
            &:hover {
                color: inherit;
            }

            &:active {
                color: var(--text-secondary-color);
            }
        }

        &.btn-primary {
            transition: background-color 0.3s ease;
            background-color: var(--active-color);
            color: var(--primary-background-color);

            &:hover, &:active, &:focus {
                opacity: 0.8;
            }
        }

        &.btn-secondary {
            transition: background-color 0.3s ease;
            background-color: var(--text-secondary-color);
            color: var(--primary-background-color);

            &:hover, &:active, &:focus {
                opacity: 0.8;
            }
        }

        &.btn-danger {
            transition: background-color 0.3s ease;
            background-color: var(--text-destructive-color);
            color: var(--text-primary-color);

            &:hover, &:active, &:focus {
                opacity: 0.8;
            }
        }
    }
    .form-control {
        &::-webkit-inner-spin-button, &::-webkit-outer-spin-button{
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

.WindowDialog {
    background: #c4c4c4;
    color: var(--toolbar-icon-hover);
    filter: drop-shadow(0 0 3px var(--ui-gray-darkest));
    border: none;
    border-radius: 8px;
    width: inherit;

    .form-control {
        &::-webkit-inner-spin-button, &::-webkit-outer-spin-button{
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

.IntensityDialog {
    background: #c4c4c4;
    color: var(--toolbar-icon-hover);
    filter: drop-shadow(0 0 3px var(--ui-gray-darkest));
    border: none;
    border-radius: 8px;
    width: inherit;

    .fps-section {
        cursor: auto;
        display: inline;

        input[type=range] {
            -webkit-appearance: none;
            width: 70%;
            background: transparent;
            // margin: 0 auto;

            // &:focus {
            //     outline: none;

            //     &::-webkit-slider-runnable-track {
            //         background: #4e4d4f;
            //     }

            //     &::-ms-fill-lower {
            //         background: #414042;
            //     }

            //     &::-ms-fill-upper {
            //         background: #4e4d4f;
            //     }
            // }

            &::-webkit-slider-runnable-track {
                width: 90%;
                height: 6px;
                cursor: pointer;
                box-shadow: 0 0 0 #000, 0 0 0 #0d0d0d;
                background: #414042;
                border-radius: 2px;
                border: 0 solid #010101;
            }

            &::-webkit-slider-thumb {
                box-shadow: 0 0 0 #000, 0 0 0 #0d0d0d;
                border: 0 solid rgba(0, 0, 0, 0);
                height: 20px;
                width: 8px;
                border-radius: 5px;
                background: #716f76;
                cursor: pointer;
                -webkit-appearance: none;
                margin-top: -7px;
            }

            &::-moz-range-track {
                width: 90%;
                height: 6px;
                cursor: pointer;
                box-shadow: 0 0 0 #000, 0 0 0 #0d0d0d;
                background: #414042;
                border-radius: 5px;
                border: 0 solid #010101;
            }

            &::-moz-range-thumb {
                box-shadow: 0 0 0 #000, 0 0 0 #0d0d0d;
                border: 0 solid rgba(0, 0, 0, 0);
                height: 20px;
                width: 1px;
                border-radius: 5px;
                background: #716f76;
                cursor: pointer;
            }

            &::-ms-track {
                width: 90%;
                height: 6px;
                cursor: pointer;
                background: transparent;
                border-color: transparent;
                color: transparent;
            }

            &::-ms-fill-lower {
                background: #343335;
                border: 0 solid #010101;
                border-radius: 4px;
                box-shadow: 0 0 0 #000, 0 0 0 #0d0d0d;
            }

            &::-ms-fill-upper {
                background: #414042;
                border: 0 solid #010101;
                border-radius: 4px;
                box-shadow: 0 0 0 #000, 0 0 0 #0d0d0d;
            }

            &::-ms-thumb {
                box-shadow: 0 0 0 #000, 0 0 0 #0d0d0d;
                border: 0 solid rgba(0, 0, 0, 0);
                width: 1px;
                border-radius: 5px;
                background: #716f76;
                cursor: pointer;
                height: 6px;
            }
        }
    }
    .fps {
        display: inline-flex;
        // width: 68px;
        float: right;
        padding: 0;
        margin: 0 0 0 2px;
        text-align: center;
        font-size: var(--font-primary-size);
        line-height: 30px;
    }
}
/* These are some good CSS settings for a circular magnifying glass
 Try removing the border-radius to make a square magnifying glass */

.color-map-dialog {
    background: #c4c4c4;
    color: var(--toolbar-icon-hover);
    filter: drop-shadow(0 0 3px var(--ui-gray-darkest));
    border: none;
    border-radius: 8px;
    padding: 5px;

    .color-map-group {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 210px;
    }

    .color-map-item {
        width: 60px;
        height: 22px;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        margin: 2.5px;
        border: 1px solid lightgrey;
        border-radius: 3px;

        &:hover {
            border-color: black;
        }

        img {
            position: absolute;
            width: 60px;
            height: 22px;
            top: 0;
            left: 0;
        }
    }
}

.CornerstoneViewport {
    width: 100%;
    height: 100%;
    position: relative;
}

.viewport-element {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: black;
    outline: 0 !important;
    overflow: hidden;
}

.viewportInstructions {
    display: block;
    font-size: 13px;
    color: #91b9cd;
    line-height: 18px;
    pointer-events: none;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 20px;
}

.magnifyTool {
    border: 4px white solid;
    box-shadow: 2px 2px 10px #1e1e1e;
    border-radius: 50%;
    display: none;
    cursor: none;
}

.scroll {
    height: 100%;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;

    .scroll-holder {
        height: calc(100% - 20px);
        margin-top: 5px;
        position: relative;
        width: 12px;

        .imageSlider {
            height: 12px;
            left: 12px;
            padding: 0;
            position: absolute;
            top: 0;
            transform: rotate(90deg);
            transform-origin: top left;
            -webkit-appearance: none;
            background-color: rgba(0, 0, 0, 0);

            &:focus {
                outline: none;
            }

            &::-moz-focus-outer {
                border: none;
            }

            &::-webkit-slider-runnable-track {
                background-color: rgba(0, 0, 0, 0);
                border: none;
                cursor: pointer;
                height: 5px;
                z-index: 6;
            }

            &::-moz-range-track {
                background-color: rgba(0, 0, 0, 0);
                border: none;
                cursor: pointer;
                height: 2px;
                z-index: 6;
            }

            &::-ms-track {
                animate: 0.2s;
                background: transparent;
                border: none;
                border-width: 15px 0;
                color: rgba(0, 0, 0, 0);
                cursor: pointer;
                height: 12px;
                width: 100%;
            }

            &::-ms-fill-lower, &::-ms-fill-upper {
                background: rgba(0, 0, 0, 0);
            }

            &::-webkit-slider-thumb {
                -webkit-appearance: none !important;
                background-color: #0a390f;
                border: none;
                border-radius: 57px;
                cursor: -webkit-grab;
                height: 12px;
                margin-top: -4px;
                width: 39px;

                &:active, &:hover {
                    background-color: green;
                    cursor: -webkit-grabbing;
                }
            }

            &::-moz-range-thumb {
                background-color: #0a390f;
                border: none;
                borderbi-radius: 57px;
                cursor: -moz-grab;
                height: 12px;
                width: 39px;
                z-index: 7;

                &:active {
                    background-color: green;
                    cursor: -moz-grabbing;
                }
            }

            &::-ms-thumb {
                background-color: #0a390f;
                border: none;
                border-radius: 57px;
                cursor: ns-resize;
                height: 12px;
                width: 39px;

                &:active {
                    background-color: green;
                }
            }

            &::-ms-tooltip {
                display: none;
            }
        }
    }
}

@media screen and (-ms-high-contrast: active) {
    .imageSlider {
        left: 50px;
    }
}

@media (-ms-high-contrast: none) {
    .imageSlider {
        left: 50px;
    }
}

.imageViewerLoadingIndicator {
    color: var(--active-color);
}

.faded {
    opacity: 0.5;
}

.imageViewerErrorLoadingIndicator {
    color: #e29e4a;

    p {
        padding: 4px 0;
        text-align: center;
        word-wrap: break-word;
        font-size: 11pt;
    }

    h4 {
        padding: 4px 0;
        text-align: center;
        word-wrap: break-word;
    }
}

.loadingIndicator {
    font-size: 18px;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    //border-radius: 6px;
    text-align: center;
    padding: 5px;

    .indicatorContents {
        font-size: 30px;
        font-weight: 300;
        position: absolute;
        text-align: center;
        width: 100%;
    }

    &.blur {
        .indicatorContents {
            bottom: 0;
        }
    }

    &.strict {
        background-color: rgba(0, 0, 0, 0.75);

        .indicatorContents {
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.ViewportOrientationMarkers {
    pointer-events: none;
    font-size: 15px;
    color: #ccc;
    line-height: 18px;

    .orientation-marker {
        position: absolute;
    }

    .top-mid {
        top: 5px;
        left: 50%;
    }

    .left-mid {
        top: 47%;
        left: 5px;
    }
}

.imageViewerViewport.empty ~ .ViewportOverlay {
    display: none;
}

.ViewportOverlay {
    color: var(--text-primary-color);
    font-size: var(--font-primary-size);

    .overlay-element {
        position: absolute;
        font-weight: 400;
        text-shadow: 1px 1px #000;
        pointer-events: none;
    }

    .top-left {
        top: 20px;
        left: 20px;
    }

    .top-center {
        top: 20px;
        padding-top: 20px;
        width: 100%;
        text-align: center;
    }

    .top-right {
        top: 20px;
        right: 20px;
        text-align: right;
    }

    .bottom-left {
        bottom: 20px;
        left: 20px;
    }

    .bottom-right {
        bottom: 20px;
        right: 20px;
        text-align: right;
    }

    svg {
        color: #9ccef9;
        fill: #9ccef9;
        stroke: #9ccef9;
        background-color: transparent;
        margin: 2px;
        width: 18px;
        height: 18px;
    }

    &.controlsVisible {
        .topright, .bottomright {
            right: calc(20px + 19px);
        }
    }
}

.visualizer {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #353535;
    z-index: 1;

    > canvas {
        width: 100%;
        height: 100%;
    }
}

.annotation {
    width: 100%;
    height: 100%;

    > canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 3;
    }
}

.itk-vtk-viewer {
    [class='3d-command-button'], [class^=ItkVtkViewer-module-logo] {
        display: none;
    }
}
