@import "../abstracts/variables";

.select-role-input {
    border-style: solid;
    border-width: 2px;
    border-color: $grey-light;
    &:hover{
        border-color: $green-itech-light;
    }
    &:focus{
        border-color: $green-itech-light;
        background-color: $green-text-selection;
    }
    input{
        &:focus{
            border-color: $green-itech-light;
            background-color: $green-text-selection;
            outline: 0;
            @include shadow-2;
        }
    }
}