@import "home";

.main-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home-page {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

.wrap-content {
  flex: 1;
}
