itech-menu {
    aside.sidebar {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        ul {
            li:first-child {
                border-top-left-radius: 10px;
            }
        }
    }
}