.user-show-page > div > div {
    padding-left: 0px;
    padding-right: 0px;
}

.personal-info {
	width: 100%;
	background: $white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

	& .basic-info {
		padding: 15px 30px 12px 20px;
		background: $white;
		height: 100%;
	}

	& div {
		border-radius: 0;
	}
}